{% extends "base.html" %}

{% block title %}MEMES!!{% endblock %}

{% block body %}
    <style>
    img {
        max-width: 100%;
    }

    .row {
        margin-top: 1rem;
    }
    </style>

    {% if memes == [] %}
    There are no memes. Make memes. I'm sad. i need memes. send memes.
    {%else%}
        {% for row_memes in chunk(memes, 3) %}
            <div class="row">
                {% for meme in row_memes %}
                    <div class="col-4">
                        {% include "meme-card.html" %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {%endif%}
{% endblock %}
